<div>
  <!--show all topics of the user-->
  <% topics = Topic.all.where(approved: true) %>
  <center>
    <ul class="form-group w-50">
      <% topics.each do |topic| %>
          <a href="topics/show/<%= topic.id %>" class="list-group-item list-group-item-action text-center"><%= topic.name %></a>
      <% end %>
  </ul>
  </center>
</div>

<div>
  <center>
    <a class="btn btn-primary btn-lg" href="resources/new" role="button">Contribute a Resource</a>
    <% if can? :create, Topic %>
        <a class="btn btn-primary btn-lg" style="margin: auto" href="topics/new" role="button">Create a Topic</a>
    <% end %>
  </center>
</div>

