<div class="container">
  <section>
    <div class="title">
      <h1 class="display-1">SkillWiki</h1>
      <a class="navigate-button" href="/sign_up">Sign Up</a>
    </div>
  </section>
  
  <section>
    <div class="home-section">
      <h2 class="display-3">Why SkillWiki?</h2>
      <p class="lead text-center">
        Skillwiki curates resources for topics you want to learn about
        based on your learning style.
      </p>
    </div>
  </section>
</div>






