<div style="height: 300px">
  <h1 class="display-1 text-center">SkillWiki</h1>
  <div style="display: flex;">
    <a class="btn btn-primary btn-lg" style="margin: auto" href="/sign_up" role="button">Sign Up</a>
  </div>
</div>
<div style="margin: 0 auto; width: 800px">
  <h2 class="display-3 text-center">Why SkillWiki?</h2>
  <p class="lead text-center">
    Skillwiki curates resources for topics you want to learn about
    based on your learning style.
  </p>
</div>




