<%= render 'shared/navbar' %>
<div style="height: 300px">
  <h1 class="display-1 text-center">SkillWiki</h1>
  <div style="display: flex;">
  <a class="btn btn-primary btn-lg" style="margin: auto" href="/signup" role="button">Sign Up</a>
</div>
</div>
<div style="margin: 0 auto; width: 800px">
  <h1 class="display-3 text-center">Why SkillWiki?</h1>
  <p class="lead text-center">
    Skillwiki curates resources for topics you want to learn about
based on your learning style. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis porttitor mollis. Nullam lacinia porttitor viverra. Praesent pellentesque, nulla ut gravida porta, risus est posuere risus, ac iaculis lacus diam vel nunc. Sed fermentum lacus nisi, nec rhoncus lacus auctor sed. Nunc a nibh vitae elit aliquet varius imperdiet eu lectus. Mauris sodales nisi nec purus venenatis, id interdum risus tincidunt. Integer in massa semper, varius ante nec, mattis turpis. Proin maximus eros tristique eros molestie, in accumsan urna rhoncus. Etiam sodales pretium vulputate. Pellentesque sem tellus, rutrum eget leo in, ullamcorper porttitor ante. Vivamus accumsan, purus et finibus aliquet, velit dolor volutpat eros, quis posuere risus ante a dolor. 
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis porttitor mollis. Nullam lacinia porttitor viverra. Praesent pellentesque, nulla ut gravida porta, risus est posuere risus, ac iaculis lacus diam vel nunc. Sed fermentum lacus nisi, nec rhoncus lacus auctor sed. Nunc a nibh vitae elit aliquet varius imperdiet eu lectus. Mauris sodales nisi nec purus venenatis, id interdum risus tincidunt. Integer in massa semper, varius ante nec, mattis turpis. Proin maximus eros tristique eros molestie, in accumsan urna rhoncus. Etiam sodales pretium vulputate. Pellentesque sem tellus, rutrum eget leo in, ullamcorper porttitor ante. Vivamus accumsan, purus et finibus aliquet, velit dolor volutpat eros, quis posuere risus ante a dolor. 
  </p>
</div>




