<h1>Contribute</h1>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Topic Name</span>
  </div>
  <textarea class="form-control" aria-label="Topic Name"></textarea>
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Resource Name</span>
  </div>
  <textarea class="form-control" aria-label="Resource Name"></textarea>
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Topic Name</span>
  </div>
  <textarea class="form-control" aria-label="Topic Name"></textarea>
</div>
