/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */
 @import "bootstrap";
 
h1, h2, h3, h4, h5, h6 {text-align: center;
}

.badge {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #ccc;
  background: #ddd;
  margin: 1rem;
}

.badge-description {
  width: 75%;
  margin: auto;
  // word-wrap: break-word;
  // white-space:normal;
}

.badge-disabled {
  background: #fff;
  color: #bbb;
}

.badge-disabled img {
  opacity: 0.4;
}

.stats {
  background: rgba(0,0,0,0.1);
  width: 50%;
}

.topic-progress-item {
  width: 50%;
  border: 1px solid;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.topic-progress-item h2 {
  margin-left: 2rem;
}

.topic-progress-item p {
  margin-left: 2rem;
  margin-bottom: 0.25rem;
}

.student-progress-item {
  width: 50%;
  border: 1px solid;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.student-progress-item h2 {
  margin-left: 1rem;
}

.student-progress-item p {
  margin-left: 10rem;
  margin-bottom: 0.25rem;
}

.student-progress-item a {
  margin-left: 10rem;
  margin-bottom: 0.25rem;
}

.student-roster-item {
  width: 50%;
  border: 1px solid;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.student-roster-item button {
  margin-bottom: 1rem;
}

.student-progress-item h2 {
  margin-left: 1rem;
}

.viewed-resource-item {
  width: 50%;
  border: 1px solid;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// .viewed-resource-item p {
//   text-align:center;
// }