/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 *= require jquery-ui
 */
 @import "bootstrap";
 
h1, h2, h3, h4, h5, h6 { text-align: center;
}

.badge {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #ccc;
  background: #ddd;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.badge-description {
  width: 75%;
  margin: auto;
  // word-wrap: break-word;
  // white-space:normal;
}

.badge-disabled {
  background: #fff;
  color: #bbb;
}

.badge-disabled img {
  opacity: 0.4;
}

.checkbox-center {
  top: 30%;
}

.checkbox-lg {
  width: 26px;
  height: 26px;
  margin-left: -1.75rem;
}

.container {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.container-checkbox {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.due-date {
  margin-left: 1em;
}

.embed-code {
  position: relative;
  width: 15%; 
  float: left; 
  top: 30px; 
  z-index: 2;
  left: 15px;
}

.embed-left {
  display: inline-block;
  margin-bottom: 0; 
  float:left; 
  position: relative; 
  left: 10px;
}

.embed-right {
  position:relative; 
  top:20px; 
  right: 80px; 
  text-align: left;
}

.excerpt {
  text-align: left;
  font-weight: 200;
}

.form-check {
  text-align: left;
}

.form-check-input {
  // top: 30%;
}

.form-group {
  margin-right: auto;
  margin-left: auto;
}

.home-section {
  margin: 1rem;
}

.initial-resource-preview {
  border: 1px solid;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  background: rgba(0,0,0,0.05);
  text-align: center;
  width: 600px;
}

.navigate-button {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  text-align: center;
}

.quiz-question {
  width: 50%;
  border: 1px solid;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  background: rgba(0,0,0,0.05);
  text-align: center;
}

.recommendation-list {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.recommendation-list li {
  text-align: left;
}

.resource-feedback {
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  background: gainsboro;
}

.resource-view {
  overflow: scroll; 
  height: 500px;
  text-align: center;
}

.resource-view-item {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.stats {
  background: rgba(0,0,0,0.1);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.student-progress-item {
  width: 50%;
  border: 1px solid;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.student-progress-item a {
  margin-left: 10rem;
  margin-bottom: 0.25rem;
}
.student-progress-item h2 {
  margin-left: 1rem;
}

.student-progress-item p {
  margin-left: 10rem;
  margin-bottom: 0.25rem;
}

.student-roster-item {
  width: 50%;
  border: 1px solid;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.student-roster-item button {
  margin-bottom: 1rem;
}

.student-progress-item h2 {
  margin-left: 1rem;
}

.text-preview {
  height: 100px; 
  width: 50%;
  overflow: scroll;
  text-align: left;
  border: 1px solid #dee2e6;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.title {
  margin-bottom: 1rem;
  padding: 1rem;
}

.topic-item {
  @extend .list-group-item;
  @extend .list-group-item-action;
  text-align: center;
}

.topic-list {
  @extend .form-group;
  text-align: center;
  width: 50%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.topics-navbar {
  @extend .navbar;
  @extend .navbar-expand-sm;
  @extend .navbar-light;
  @extend .bg-light;
  @extend .w-50;
  margin-left: auto;
  margin-right: auto;
}

.topic-progress-item {
  width: 50%;
  border: 1px solid;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.topic-progress-item h2 {
  margin-left: 2rem;
}

.topic-progress-item p {
  margin-left: 2rem;
  margin-bottom: 0.25rem;
}

.options button {
  display: inline-block;
}

.viewed-resource-item {
  width: 50%;
  border: 1px solid;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}